*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.nodeContainer{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  border: 1px solid;
  padding: 10px;
}
.node{
  display: flex;
  max-height: 30px;
}